html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

footer,
main,
menu,
nav,
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

audio,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  border: none;
  outline: none;
}

button {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  box-sizing: content-box;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 1px;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 0.9px;
  }

  .btn {
    max-width: 160px;
    padding: 15px 10px;
  }
}

body {
  overflow-x: hidden;
  background-color: white;
  font-size: 16rem;
  line-height: 20rem;
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

li {
  font-weight: 400;
  font-size: 16rem;
  line-height: 20rem;
}

li::before {
  content: "•";
  color: #fff;
  font-weight: 600;
  display: inline-block;
  width: 1em;
  position: absolute;
  left: 18px;
  font-size: 26rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

a,
button,
input {
  cursor: pointer;
  outline: none;
}

input {
  font-family: inherit;
  display: block;
  border-radius: 0 !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.main {
  min-height: 100vh;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 75px 15px 125px;
}

@media (max-width: 360px) {
  .main {
    padding: 85px 15px 100px;
  }
}

.btn {
  display: block;
  max-width: 180px;
  width: 100%;
  height: fit-content;
  border: 2px solid #222222;
  border-radius: 6px;
  font-size: 18rem;
  line-height: 24rem;
  background-color: #000;
  color: #fff;
  padding: 16px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-start {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-start a,
.btn-start button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #65c5ed;
  box-shadow: 0 15px 15px #65c5ed(0, 0, 0, 0.3);
  border-bottom: 1px solid #65c5ed(255, 255, 255, 0.1);
  border-top: 1px solid #65c5ed(255, 255, 255, 0.1);
  border-right: none;
  border-left: none;
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.btn-start a:hover,
.btn-start button:hover {
  transition: 0.5s;
  color: #65c5ed;
  background: whitesmoke;
  border: 1px solid #65c5ed;
}

*/ .header {
  display: flex;
  justify-content: center;
  background-color: #3ba3d0;
  min-height: 90px;
}
@media (max-width: 900px) {
  .header {
    min-height: 60px;
  }
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .header__container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header__menu-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.header__menu-item {
  padding-left: 0;
}

.header__menu-item:last-of-type {
  margin: 0;
}

.header__menu-item::before {
  content: none;
}

.header__menu-link {
  transition: color 0.5s;
}

.header__menu-link:hover {
  color: #65c5ed;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 3px 0;
  padding: 3px 0;
  width: 100%;
  max-width: 150px;
  height: fit-content;
}
@media (max-width: 900px) {
  .logo {
    padding: 0;
  }
}

.intro__text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.intro__img {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.intro__btn {
  margin: 0 auto;
}

.game__score {
  text-align: center;
  font-size: 22rem;
  line-height: 26rem;
}

.volume {
  margin-top: 15px;
  width: 100px;
  height: 3px;
}

.volume__label {
  margin-top: 5px;
}

.game__pagination {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: solid #3ba3d0;
  background-color: #65c5ed;
  border-radius: 20px;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .game__pagination {
    max-width: 400px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
  }
}

.game__pagination-item:first-of-type {
  border-radius: 20px 0 0 20px;
}

.game__pagination-item:last-of-type {
  border-radius: 0 20px 20px 0;
}

.game__pagination-item {
  padding: 16px 6px;
  text-align: center;
}
@media (max-width: 900px) {
  .game__pagination-item {
    border-radius: 10px !important;
  }
}

.game__pagination-item_active {
  background-color: #0c99d5;
}

.game__pagination-item::before {
  content: none;
}

.game__current-animal {
  display: flex;
  border: 2px solid #3ba3d0;
  background-color: #65c5ed;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .game__current-animal {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
  }
}
@media (max-width: 360px) {
  .game__current-animal {
    padding: 10px;
  }
}

.game__current-animal-img {
  border-radius: 10px;
  object-fit: cover;
  width: 190px;
  height: 150px;
}
@media (max-width: 900px) {
  .game__current-animal-img {
    margin: 0 auto 25px;
  }
}

.game__current-animal-description {
  padding: 10px 10px 10px 50px;
}
@media (max-width: 900px) {
  .game__current-animal-description {
    padding: 0;
    margin: 0 auto;
  }
}

.game__current-animal-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .game__current-animal-audio {
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 360px) {
  .audio {
    width: 266px;
  }
}
.audio::-webkit-media-controls {
  width: inherit;
  height: inherit;
  position: relative;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.audio::-webkit-media-controls-enclosure {
  width: 100%;
  max-width: 800px;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
}

.audio::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  background-color: #65c5ed;
  border-radius: 5px;
  transition: opacity 0.3s;
}

.audio:-webkit-full-page-media {
  max-height: 100%;
  max-width: 100%;
}

.audio:-webkit-full-page-media::-webkit-media-controls-panel {
  bottom: 0px;
}

.audio::-webkit-media-controls-play-button {
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}
@media (max-width: 360px) {
  .audio::-webkit-media-controls-play-button {
    margin-right: 5px;
  }
}

.audio::-webkit-media-controls-timeline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1;
  height: 16px;
  min-width: 0;
}

.audio::-webkit-media-controls-current-time-display,
.audio::-webkit-media-controls-time-remaining-display {
  flex: none;
  display: flex;
  border: none;
  cursor: default;
  height: 30px;
  margin: 0 9px 0 0;
  padding: 0;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
}

.audio::-webkit-media-controls-timeline {
  display: flex;
  margin: 0 25px 0 0;
  padding: 0;
  background-color: transparent;
  min-width: 130px;
  border: initial;
  color: inherit;
  border-radius: 10px;
}
@media (max-width: 360px) {
  .audio::-webkit-media-controls-timeline {
    min-width: 110px;
  }
}

.audio::-webkit-media-controls-volume-slider {
  display: flex;
  flex: 1 1.9 auto;
  height: 8px;
  max-width: 70px;
  margin: 0 15px 0 0;
  padding: 0;
  background-color: transparent;
  min-width: 15px;
  border: initial;
  color: inherit;
}

.audio::-webkit-media-controls-mute-button,
.audio::-webkit-media-controls-overlay-enclosure,
.audio::-webkit-media-controls-fullscreen-button,
.audio::-webkit-media-controls-toggle-closed-captions-button,
.audio::-webkit-media-controls-fullscreen-volume-slider,
video::-webkit-media-controls-fullscreen-volume-slider,
.audio::-webkit-media-controls-fullscreen-volume-min-button,
video::-webkit-media-controls-fullscreen-volume-min-button,
.audio::-webkit-media-controls-fullscreen-volume-max-button,
video::-webkit-media-controls-fullscreen-volume-max-button {
  display: none;
}

.game__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  width: 100%;
}

@media (max-width: 900px) {
  .game__box {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto 45px;
  }
}

@media (max-width: 900px) {
  .game__box {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto 45px;
  }
}

.game__list {
  border: 2px solid #3ba3d0;
  background-color: #65c5ed;
  width: 40%;
  margin-right: 30px;
  border-radius: 10px;
  height: fit-content;
  position: relative;
}

@media (max-width: 900px) {
  .game__list {
    width: 100%;
    margin: 0 0 30px;
  }
}

.game__item {
  padding: 15px 15px 15px 45px;
  cursor: pointer;
  border-bottom: 2px solid #3ba3d0;
  background-color: #65c5ed;
  transition: 0.5s;
}

.game__item:first-of-type {
  border-radius: 10px 10px 0 0;
}

.game__item:last-child {
  border-radius: 0 0 10px 10px;
}

.game__item:last-of-type {
  border-bottom: none;
}

.game__item_wrong,
.game__item_wrong::before {
  color: #9c190b;
}

.game__item_right,
.game__item_right::before {
  color: #032533;
}

.game__item:hover {
  background-color: #3ba3d0;
}

.description-animal,
.instruction {
  border: 2px solid #3ba3d0;
  background-color: #65c5ed;
  border-radius: 10px;
  width: 60%;
  padding: 20px;
  display: none;
}
@media (max-width: 900px) {
  .description-animal,
  .instruction {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .description-animal,
  .instruction {
    padding: 10px;
  }
}

.instruction_active {
  display: block;
}

.instruction__text {
  margin-bottom: 0;
}

.description-animal_active,
.description-animal_active {
  display: block;
}

.description-animal__top {
  display: flex;
  margin-bottom: 25px;
}
@media (max-width: 900px) {
  .description-animal__top {
    display: block;
    margin-bottom: 15px;
  }
}

.description-animal__img {
  width: 190px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .description-animal__img {
    margin: 0 auto 25px;
    display: block;
  }
}

.description-animal__description {
  padding: 10px 10px 10px 20px;
}
@media (max-width: 900px) {
  .description-animal__description {
    padding: 0;
  }
}

.description-animal__title,
.description-animal__kind {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.description-animal__title {
  margin-bottom: 10px;
}

.description-animal__kind {
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .description-animal__audio {
    margin: 0 auto;
    display: block;
  }
}
.description-animal__text {
  margin-bottom: 0;
  text-align: justify;
}

.game__btn {
  margin: 0 auto;
  pointer-events: none;
  opacity: 0.5;
}

.game__btn_active {
  pointer-events: inherit;
  opacity: 1;
}

.result__box {
  max-width: 800px;
  width: 100%;
  border: 2px solid #65c5ed;
  background-color: #3ba3d0;
  border-radius: 10px;
  padding: 30px 20px 40px;
  margin: 0 auto 30px;
}

.result__title {
  text-align: center;
  font-size: 30rem;
  line-height: 34rem;
  margin-bottom: 30px;
}

.result__text {
  font-size: 18rem;
  line-height: 22rem;
  margin-bottom: 45px;
  text-align: center;
}

.result__btn {
  margin: 0 auto;
}

.footer {
  padding: 15px 15px;
  background-color: #65c5ed;
}

.footer__container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  max-width: 1000px;
  justify-content: space-between;
}

.footer__text {
  margin-bottom: 0;
  margin: 0 15px 0 0;
  color: #fff;
}

.footer__logo img {
  width: 70px;
}
